*{
    border: solid 2px red;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex: 1 1 0;
    background-color: #1b1a27;
}

.container{
  display: flex;
  flex-direction: column;
}

.game-info p{
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    
}

.button-container{
    display: flex;
    gap: 25px;
    
    flex:0 1 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.container button{
    flex:0 1 1;
    min-width: 150px;
    gap: 25px;
    padding: 25px;
    border-radius: 10px;
    background-color:  #71a886;
    color: aliceblue;
    font-size: larger;
    font-weight: 700;
}